body{
    font-family: 'Happy Monkey', cursive;
    margin: 0;
    
}
/* nav and hero section */
#header-logo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
nav{
    display: flex;
    margin: auto;
    width: 80%;
    padding: 20px 0;
    justify-content: space-between;
}
.header-nav{
    display: flex;
    width: 40%;
    justify-content: space-around;

}
.pointer{
    cursor: pointer;
    color: #0D4C92;
}
.head-content{
    display: flex;
    margin: auto;
    width: 80%;
    height: 450px;
    justify-content: space-between;
    align-items: center;
}
.light-background{
    background-color: #FFE1E1;
    font-size: 20px;
    font-weight: bolder;
}
.head-elements{
    width: 45%;
    color: #454c25;
    font-size: 18px;
    font-weight: bold;
}
.head-elements p {
    margin: 20px;
    margin-left: 0px;
}



/*image and content section*/
.content-images{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    gap: 100px;
}
.box-images{
    height: 100px;
    width: 150px;
    text-align: center;
    margin-right: 20px;
    font-size: 17px;
    font-weight: bold;
}
.box-images img{
    width: 200px;
    height: 32vh;
    border-radius: 7px;
    border: 3px solid #283618;
    object-fit: cover;
}
.box-images p{
    margin-left: 35px;
    font-size: 15px;
    margin-top: 5px;
    color: #353535;
    
}
.box-images img:hover{
    cursor: pointer;
    transform: translateY(-20px);
}
.good-content{
    width: 97vw;
    height: 320px;
    font-size: 23px;
}
.section-title{
    margin-top: 45px;
    margin-bottom: 40px;
    text-align: center;
}
/*section quotes */
.section-quotes{
      background-color:  #d3d3d3;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      padding: 70px;
      margin-top: 95px;
      margin-bottom: 40px;
      
}
.quotes{
    font-size: 30px;
    text-align: center;
}
.author{
    font-weight: bold;
    font-size: 20px;
    margin: 0px 50px;
}
.signup-container{
    background-color: white;
    margin: 50px 150px;
    text-align: left;
    border-radius: 7px;
    border: 2px solid #001219;
    padding: 15px 0px 15px 15px;
    background-color: #87bba2;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
}
.question{
    font-size: 22px;
    font-weight: bold;
}
.action{
    font-size: 17px;
    opacity: 100%;
}
.signup-button{
    margin: 9px;
}
#top-btn{
    height: 25px;
    width: 75px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    background-color: #0D4C92;
    color: white;

}
#end-btn{
    height: 25px;
    width: 75px;
    font-size: 13px;
    border: 1px solid #a3a380;
    border-radius: 5px;
    background-color: blue;
    color: white;
    
}
footer{
    background-color: #b7b7a4;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    color: #283618;
    padding: 6px;
}